.user-form {
    background: red;
    display: flex;
    padding: 30px 20px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.user-form input {
    margin-left: 20px;
    padding: 10px 0px;
    font-size: 1.3rem;
}

.user-form button {
    margin-left: 20px;
}